@import 'variables';
@import url('./theme.css');
@import url('https://blog.ub.uni-leipzig.de/wp-includes/css/dist/block-library/theme.min.css?ver=5.1-beta2-44700');

#app {
  width: 100%;
}

.portal-layout {
  box-sizing: border-box;
  background: $portal-layout-background;
  font-family: $portal-font-family;

  &__logo {
      color:white;
      margin-left:7px;
      line-height: 16px;
      display: flex;
      padding: 9px;
  }
  &__top-bar {
    background: $portal-primary-theme-color;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
  }

  &__body {
    position: absolute;
    top: 93px;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    left: 0;
    background: #000;
  }
}

.mirador {
  &-viewer {
    bottom: 0;
    left: 0;
    padding-top: 60px;
    padding-left: 75px;
    right: 0;

    .mosaic-window-toolbar {
      display: none !important;
    }

    .mosaic-window-body {
      .mirador-window-top-bar {
        cursor: move;
      }
    }
  }

  &-workspace-viewport {
    bottom: 0;
    left: 90px;
    padding-top:60px;
    overflow: hidden;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &-workspace {
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    margin: 0;
    overflow: scroll;
    padding-left: 100px;
    position: absolute;
    right: 0;
    top: 60px;
  }

  &-workspace-add {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 92px;
  }

  &-window-middle-content {
    display: flex;
    flex: 1;
    position: relative;
  }

  &-window {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &-osd-container {
    background: $black;
    flex: 1;
    position: relative;
  }

  &-window-sidebar-panel-drawer {
    margin-left: $window-sidebar-width;
  }

  &-window-companion-side {
    background: lighten($gray, 40%);
    min-width: 75px;
    overflow-x: auto;
    resize: horizontal;
  }

  &-companion-bottom {
    background: lighten($black, 60%);
    overflow-y: auto;
    resize: vertical;
  }

  &-osd-navigation {
    bottom: 10px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 33;
  }

  &-thumb-navigation {

    .mirador-thumbnail-nav-canvas {
      border: 1px solid $black;
      color: $white;
      cursor: pointer;
      height: 100%;

      &.mirador-current-canvas {
        border: 3px solid $blue;
      }
    }
  }
}
@media (min-width: 500px) {
  .sk-hits-grid {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    background: #eee;
  }

  .sk-hits-grid-hit {
    padding: 10px;
    max-width: 250px;
    flex-flow: column nowrap;
    align-content: center;
    align-items: normal;
    flex: 190px 0;
    background-color: #FFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin: 5px;
  }

  .sk-layout__body {
    display: flex;
    margin: 0 auto 0;
    min-width: 600px;
  }

  .sk-search-box {
    background: #FFF;
    border-radius: 3px;
    position: relative;
    display: flex;
    flex: 1;
    height: 40px;
  }

  .sk-hits-grid-hit__poster a {
    opacity: .01;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
  }

  .sk-hits-grid-hit__poster button:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 0.4);
  }

  .sk-hits-grid-hit__title {
    margin-top: 10px;
    font-size: 16px;
  }

  .sk-hits-grid-hit__author {
    margin-top: 10px;
    color: #616161;
    font-size: 13px;
  }

  .sk-hits-grid-hit a {
    text-decoration: none;
    color: #212121;
    transition: .25s ease;
    opacity: 1;
  }

  .sk-toggle-option.is-active {
    background-color: #12394c;
    color: #fff;
    border-color: #08c;
  }
}
